<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VWFCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VWFCalc.Properties.Settings>
            <setting name="ColorNormalText" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorCritText" serializeAs="String">
                <value>217, 168, 0</value>
            </setting>
            <setting name="ColorUeberlangText" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ColorBackground" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="IgnoreSpaceAtEnd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreCharBegins" serializeAs="String">
                <value>[ &gt;</value>
            </setting>
            <setting name="ColorMinText" serializeAs="String">
                <value>LightPink</value>
            </setting>
        </VWFCalc.Properties.Settings>
    </userSettings>
</configuration>